.GoodThings {
  background-color: $primary;
  padding: 3rem 2.5rem 0 2.5rem;
  margin: 3rem 1.5rem 5rem 1.5rem;
  border-radius: 10px;
  position: relative;
  height: 22rem;

  &__title {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__swiper {
    padding: 12px!important;
    overflow-y: visible!important;
    overflow-x: hidden!important;
    touch-action: none!important;
    height: 22.5rem;
    
    &-container {
      transform: translate(0, 5%);
      position: relative;
    }
    
    &--prev, &--next {
      display: none;
    }
    
    &-bullets {
      display: none;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(66, 66, 66, 0.198454);
    max-width: 22.5rem;
    height: 100%;

    &-picture {
      width: 100%;
      height: 45%;
      position: relative;
    }

    &-image {
      border-radius: 16px 16px 0 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    &-icon {
      width: 5vh;
      height: auto;
      position: absolute;
      bottom: 0;
      right: 0;
      transform: translate(-1.25rem, 50%);
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: start;
      padding: 1rem 1.5rem;
    }

    &-tag {
      color: #9499B3;
      border: 1px solid #9499B3;
      border-radius: 24px;
      padding: 0.25rem .5rem;
      display: flex;
      font-family: 'Montserrat', sans-serif;
      font-size: 0.75rem;
    }

    &-description {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.75rem;
      font-weight: 500;
      margin-top: 1.25rem;
      height: 3rem;
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
    }

    &-readMore {
      font-family: 'Montserrat', sans-serif;
      font-size: 0.75rem;
      font-weight: 700;
      color: #42D76B;
      text-decoration: none;
      margin-top: 2rem;
      outline: none; 

      &:hover {
        color: $primary;
      }

      &:focus-within {
        color: black;
      }
    }
    
  }

  @media (min-width: $breakpoint-small-desktop) {
    height: 32.5rem;
    padding: 5rem 5rem 0 5rem;
    margin: 4.25rem 13.75rem 0 8.75rem;

    &__title {
      font-size: 3rem;
    }

    &__swiper {
      height: 27rem;

      &-container {
        width: 78vw;
        transform: translate(0, 10%);
        position: absolute;
      }

      &-bullets {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 7.25rem;

        &-items {
          width: auto !important;
        }

        .swiper-pagination-bullet-active {
          background-color: $primary !important;
          height: 2rem;
          width: 2rem;
        }

        .swiper-pagination-bullet {
          background-color: #C4C4C4;
          height: 2rem;
          width: 2rem;
          opacity: 1!important;
        }
      }
    }

    &__card {
      max-width: 30vw;
      max-height: 24.25rem;

      &__image {
        object-fit: fill;
      }

      &-tag, &-description, &-readMore {
        font-size: 1rem;
      }

      &-description {
        height: 3.5rem;
      }
    }
  }

  @media (min-width: $breakpoint-large-desktop) {
    &__swiper {
      &-container {
        width: 80vw;
      }
    }
  }
}