// Breakpoints
$breakpoint-tablet: 760px;
$breakpoint-small-desktop: 1024px;
$breakpoint-medium-desktop: 1440px;
$breakpoint-large-desktop: 1520px;

// Colors
$primary: #4AC959;
$primary-300: #33a941;
$primary-500: #227e2d;
$danger: #ad1919;
$danger-300: #751818;
$danger-500: #4d0a0a;
$secondary: #E88D39;

// Fonts
$ff-primary: 'Montserrat', sans-serif;
$ff-secondary: 'Poppins', sans-serif;
