node_modules
public
cypress
*.svg
*.woff2
*.css
next-env.d.ts
next.config.js
commitzenrc.js
tsconfig.json
commitzenrc.js
.huskyrc.json
.lintstagedrc.json
jest.config.js
coverage
.prettierrc.json
tailwind.config.js
postcss.config.js
sentry.client.config.js
sentry.server.config.js
pdf-worker.js
src/pages/_error.js
src/pages/sentry_sample_error.js