.Modal {
  position: absolute;
  background-color: white;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 10;

  &:focus-visible {
    outline: none;
  }

  &__overlay {
    background-color: rgb(13, 13, 13, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
  }
}